# Environment
.env
*.env
!bgm-library/.env

# Build output
dist/
lib/**/*.js
lib/**/*.d.ts
lib/**/*.js.map
lib/**/*.d.ts.map
lib/*.js
lib/*.d.ts
lib/*.js.map
lib/*.d.ts.map

# Node
node_modules/

# OS
.DS_Store
Thumbs.db
